In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Import libraries
import pandas as pd

In [5]:
# Load training and test datasets
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')

In [6]:
# Display the first 5 rows of the training dataset
train_df.head()

,listing_id,title,make,model,description,manufactured,original_reg_date,reg_date,type_of_vehicle,category,...,mileage,omv,arf,opc_scheme,lifespan,eco_category,features,accessories,indicative_price,price
0,1292132,Land Rover Range Rover Velar 3.0A Si6 R-Dynami...,land rover,range,"1 owner, no repairs needed! it looks great, in...",2018.0,NaN,08-mar-2018,suv,parf car,...,96000.0,88906.0,132031.0,NaN,NaN,uncategorized,3l supercharged v6 p380 engine at 375bhp/450nm...,"2 x massage/memory/cooling & warmer seat, rear...",NaN,193788.0
1,1294696,Mercedes-Benz C-Class C200 Sport Premium Sunroof,mercedes-benz,c200,rare beautiful white c200 sport premium sunroo...,2017.0,NaN,28-dec-2017,luxury sedan,"parf car, premium ad car",...,85680.0,40678.0,43950.0,NaN,NaN,uncategorized,"2.0l 4 cylinders inline turbocharged engine, p...","multi function steering, electric tailgate, re...",NaN,96800.0
2,1311717,Honda Odyssey 2.4A (COE till 09/2027),honda,odyssey,comes with warranty. full service done.,2007.0,NaN,19-sep-2007,mpv,"coe car, premium ad car, low mileage car",...,138000.0,27994.0,30794.0,NaN,NaN,uncategorized,"2.4l k24a 4 cylinders inline dohc i-vtec, 5 sp...","cruise control, touchscreen audio, reverse cam...",NaN,39800.0
3,1310068,Toyota Corolla Altis 1.6A (COE till 12/2028),toyota,altis,0,2008.0,NaN,15-dec-2008,mid-sized sedan,"coe car, premium ad car",...,160000.0,16084.0,16084.0,NaN,NaN,uncategorized,super fuel efficient 1.6l 16 valves dohc vvt-i...,"leather seats, pioneer dvd audio system with r...",NaN,44800.0
4,1325280,Lexus GS300 (COE till 06/2026),lexus,gs,wear and tear done up. well maintained and reg...,2006.0,NaN,22-dec-2006,luxury sedan,"coe car, premium ad car",...,183000.0,50414.0,55456.0,NaN,NaN,uncategorized,"powerful 3.0l v6 engine, 227bhp, 6 speed , key...",premium upholstery electric seats. memory seat...,NaN,25800.0

In [7]:
# # check the columns
train_df.columns.tolist()

['listing_id',
 'title',
 'make',
 'model',
 'description',
 'manufactured',
 'original_reg_date',
 'reg_date',
 'type_of_vehicle',
 'category',
 'transmission',
 'curb_weight',
 'power',
 'fuel_type',
 'engine_cap',
 'no_of_owners',
 'depreciation',
 'coe',
 'road_tax',
 'dereg_value',
 'mileage',
 'omv',
 'arf',
 'opc_scheme',
 'lifespan',
 'eco_category',
 'features',
 'accessories',
 'indicative_price',
 'price']

In [15]:
#Check the null value columns
train_df['title'].isnull().sum()

0

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   listing_id         25000 non-null  int64
 1   title              25000 non-null  object
 2   make               23684 non-null  object
 3   model              25000 non-null  object
 4   description        24320 non-null  object
 5   manufactured       24993 non-null  float64
 6   original_reg_date  255 non-null    object
 7   reg_date           25000 non-null  object
 8   type_of_vehicle    25000 non-null  object
 9   category           25000 non-null  object
 10  transmission       25000 non-null  object
 11  curb_weight        24693 non-null  float64
 12  power              22360 non-null  float64
 13  fuel_type          5879 non-null   object
 14  engine_cap         24404 non-null  float64
 15  no_of_owners       24982 non-null  float64
 16  depreciation       24493 non-null  float64
 17  coe                25000 non-null  int64
 18  road_tax           22368 non-null  float64
 19  dereg_value        24780 non-null  float64
 20  mileage            19696 non-null  float64
 21  omv                24936 non-null  float64
 22  arf                24826 non-null  float64
 23  opc_scheme         162 non-null    object
 24  lifespan           2329 non-null   object
 25  eco_category       25000 non-null  object
 26  features           24157 non-null  object
 27  accessories        21187 non-null  object
 28  indicative_price   0 non-null      float64
 29  price              25000 non-null  float64
dtypes: float64(13), int64(2), object(15)
memory usage: 5.7+ MB

In [ ]:
# Drop the columns with null values
#Remove listing id since it is not useful
columns_to_drop = ['listing_id','original_reg_date','opc_scheme','lifespan', 'indicative_price']

In [17]:
#create a new df wit a table of unique values including each column, including no of unique values and the unique values in a list to another column
def unique_values(df):
    unique_values = []
    for column in df.columns:
        unique_values.append([column,df[column].dtype ,df[column].nunique(), df[column].isna().sum() ,df[column].unique()])
    return pd.DataFrame(unique_values, columns=['Column','type', 'No of unique values', 'No of Null values','Unique values'])

unique_val_df = unique_values(train_df)
unique_val_df

,Column,type,No of unique values,No of Null values,Unique values
0,listing_id,int64,25000,0,"[1292132, 1294696, 1311717, 1310068, 1325280, ..."
1,title,object,7263,0,[Land Rover Range Rover Velar 3.0A Si6 R-Dynam...
2,make,object,95,1316,"[land rover, mercedes-benz, honda, toyota, lex..."
3,model,object,799,0,"[range, c200, odyssey, altis, gs, s2000, hurac..."
4,description,object,19765,680,"[1 owner, no repairs needed! it looks great, i..."
5,manufactured,float64,71,7,"[2018.0, 2017.0, 2007.0, 2008.0, 2006.0, 2022...."
6,original_reg_date,object,219,24745,"[nan, 01-jan-1981, 23-jun-2020, 30-sep-2014, 3..."
7,reg_date,object,4705,0,"[08-mar-2018, 28-dec-2017, 19-sep-2007, 15-dec..."
8,type_of_vehicle,object,11,0,"[suv, luxury sedan, mpv, mid-sized sedan, spor..."
9,category,object,245,0,"[parf car, parf car, premium ad car, coe car, ..."
10,transmission,object,2,0,"[auto, manual]"
11,curb_weight,float64,973,307,"[1884.0, 1465.0, 1648.0, 1195.0, 1660.0, 1270...."
12,power,float64,311,2640,"[280.0, 135.0, 118.0, 80.0, 183.0, 177.0, 470...."
13,fuel_type,object,5,19121,"[nan, diesel, petrol-electric, electric, petro..."
14,engine_cap,float64,380,596,"[2995.0, 1991.0, 2354.0, 1598.0, 1997.0, 5204...."
15,no_of_owners,float64,6,18,"[2.0, 3.0, 6.0, 1.0, 4.0, 5.0, nan]"
16,depreciation,float64,3937,507,"[34270.0, 21170.0, 12520.0, 10140.0, 13690.0, ..."
17,coe,int64,2605,0,"[48011, 47002, 50355, 27571, 48479, 32121, 870..."
18,road_tax,float64,609,2632,"[2380.0, 1202.0, 2442.0, 1113.0, 3570.0, 1815...."
19,dereg_value,float64,18742,220,"[103323.0, 45179.0, 16003.0, 12184.0, 9138.0, ..."
20,mileage,float64,6449,5304,"[96000.0, 85680.0, 138000.0, 160000.0, 183000...."
21,omv,float64,14398,64,"[88906.0, 40678.0, 27994.0, 16084.0, 50414.0, ..."
22,arf,float64,14397,174,"[132031.0, 43950.0, 30794.0, 16084.0, 55456.0,..."
23,opc_scheme,object,3,24838,"[nan, revised opc scheme . learn more about op..."
24,lifespan,object,1482,22671,"[nan, 30-may-2039, 11-aug-2031, 09-oct-2032, 1..."
25,eco_category,object,1,0,[uncategorized]
26,features,object,16769,843,[3l supercharged v6 p380 engine at 375bhp/450n...
27,accessories,object,16939,3813,"[2 x massage/memory/cooling & warmer seat, rea..."
28,indicative_price,float64,0,25000,[nan]
29,price,float64,3427,0,"[193788.0, 96800.0, 39800.0, 44800.0, 25800.0,..."

In [18]:
selected_features = ['make', 'model', 'manufactured', 'mileage', 'power','engine_cap', 'depreciation','road_tax','dereg_value','coe', 'omv', 'arf','price' ]

In [20]:
# get the numerical columns
numerical_columns = train_df[selected_features].select_dtypes(include=['int64','float64']).columns.tolist()
numerical_columns

['manufactured',
 'mileage',
 'power',
 'engine_cap',
 'depreciation',
 'road_tax',
 'dereg_value',
 'coe',
 'omv',
 'arf',
 'price']

In [21]:
model_to_make_mapping = train_df.dropna(subset=['make']).set_index('model')['make'].str.lower().to_dict()

def derive_make_from_model(row):
    if pd.isnull(row['make']):
        return model_to_make_mapping.get(row['model'].lower(), None)
    else:
        return row['make']

train_df['make'] = train_df.apply(derive_make_from_model, axis=1)

In [25]:
# manufactured column null values, group by model and get the mode of the manufactured year
train_df['manufactured'] = train_df.groupby('model')['manufactured'].transform(lambda x: x.fillna(x.mode()[0]))

In [29]:
# power column null values, group by model and get the mode of the power
overall_median_power = train_df['power'].median()
train_df['power'] = train_df.groupby('model')['power'].transform(
    lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else overall_median_power)
)

In [35]:
# mileage column null values, group by model and get the mean of the mileage
overall_median_mileage = train_df['mileage'].median()
train_df['mileage'] = train_df.groupby('model')['mileage'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_median_mileage)
)

In [33]:
# engine_cap column null values, group by model and get the mode of the engine_cap
overall_median_engine_cap = train_df['engine_cap'].median()
train_df['engine_cap'] = train_df.groupby('model')['engine_cap'].transform(
    lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else overall_median_engine_cap)
)

In [39]:
# depreciation column null values, group by model and get the mean of the depreciation
overall_median_dep = train_df['depreciation'].median()
train_df['depreciation'] = train_df.groupby('model')['depreciation'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_median_dep)
)

In [42]:
# road_tax column null values, group by model and get the mean of the road_tax
overall_road_tax = train_df['road_tax'].mean()
train_df['road_tax'] = train_df.groupby('model')['road_tax'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_road_tax)
)

In [43]:
# dereg_value column null values, group by model and get the mean of the dereg_value
overall_dereg_value = train_df['dereg_value'].mean()
train_df['dereg_value'] = train_df.groupby('model')['dereg_value'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_dereg_value)
)

In [44]:
# coe column null values, group by model and get the mean of the coe
overall_coe = train_df['coe'].mean()
train_df['coe'] = train_df.groupby('model')['coe'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_coe)
)

In [45]:
# omv column null values, group by model and get the mean of the omv
overall_omv = train_df['omv'].mean()
train_df['omv'] = train_df.groupby('model')['omv'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_omv)
)

In [46]:
# arf column null values, group by model and get the mean of the arf
overall_arf = train_df['arf'].mean()
train_df['arf'] = train_df.groupby('model')['arf'].transform(
    lambda x: x.fillna(x.mean() if not x.mode().empty else overall_arf)
)

In [22]:
train_df['make'].isnull().sum()

0

In [47]:
# print the unique value df value for selected features
unique_values(train_df[selected_features])

,Column,type,No of unique values,No of Null values,Unique values
0,make,object,95,0,"[land rover, mercedes-benz, honda, toyota, lex..."
1,model,object,799,0,"[range, c200, odyssey, altis, gs, s2000, hurac..."
2,manufactured,float64,71,0,"[2018.0, 2017.0, 2007.0, 2008.0, 2006.0, 2022...."
3,mileage,float64,6827,0,"[96000.0, 85680.0, 138000.0, 160000.0, 183000...."
4,power,float64,311,0,"[280.0, 135.0, 118.0, 80.0, 183.0, 177.0, 470...."
5,engine_cap,float64,380,0,"[2995.0, 1991.0, 2354.0, 1598.0, 1997.0, 5204...."
6,depreciation,float64,4099,0,"[34270.0, 21170.0, 12520.0, 10140.0, 13690.0, ..."
7,road_tax,float64,658,0,"[2380.0, 1202.0, 2442.0, 1113.0, 3570.0, 1815...."
8,dereg_value,float64,18850,0,"[103323.0, 45179.0, 16003.0, 12184.0, 9138.0, ..."
9,coe,int64,2605,0,"[48011, 47002, 50355, 27571, 48479, 32121, 870..."
10,omv,float64,14409,0,"[88906.0, 40678.0, 27994.0, 16084.0, 50414.0, ..."
11,arf,float64,14428,0,"[132031.0, 43950.0, 30794.0, 16084.0, 55456.0,..."
12,price,float64,3427,0,"[193788.0, 96800.0, 39800.0, 44800.0, 25800.0,..."

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


# Step 1: Select relevant features and the target variable
features = selected_features
target = 'price'

train_df = train_df.dropna(subset=[target])

X_train = train_df[features]
y_train = train_df[target]

numerical_features = numerical_columns
categorical_features = ['make', 'model']

# Step 3: Create preprocessing pipelines for both numeric and categorical features
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Step 4: Combine preprocessing steps into a column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

# Step 5: Create a pipeline that first preprocesses the data and then applies the Random Forest Regressor model
model_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=100, random_state=42))
])

# Step 6: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 7: Fit the model pipeline to the training data
model_pipeline.fit(X_train, y_train)

# Step 8: Make predictions on the test set
y_pred = model_pipeline.predict(X_test)

# Step 9: Evaluate the model's performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f'Mean Absolute Error (MAE): {mae:.2f}')
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')
print(f'R-squared (R2): {r2:.2f}')